---
import H2 from "./H2.astro"
import PostDetail from "./PostDetail.astro"
---

<div class="flex w-fit flex-col p-4">
  <H2 text={"Recent Posts"} />
  <ul class="pl-4">
    <PostDetail
      href="/posts/1"
      title="The Deceptive Nature of Marijuana"
      sub="3 Ways Marijuana Decieves Addicts"
      date="03/25/2023"
    />
  </ul>
</div>
