---
import H2 from "./H2.astro"
import PostDetail from "./PostDetail.astro"
---

<div class="flex w-fit flex-col p-4">
  <H2 text={"Recent Posts"} />
  <ul class="pl-4">
    <PostDetail
      href="/posts/2"
      title="Is Marijuana You're Friend?"
      sub="3 ways to test your relationship with weed"
      date="03/30/2023"
    />
    <PostDetail
      href="/posts/1"
      title="The Deceptive Nature of Marijuana"
      sub="3 ways marijuana decieves addicts"
      date="03/25/2023"
    />
  </ul>
</div>
