---
import MainHeader from "./MainHeader.astro"
---

<div class="flex flex-col p-6">
  <MainHeader text={"Recent Posts"} />
  <ul>
    <li>
      <a href="posts/1">
        <p class="mt-3 ml-4 text-sm underline">Common Justifications</p>
        <p class="ml-4 text-xs italic">
          Overcoming excuses that keep you trapped
        </p>
      </a>
    </li>
    <li>
      <a href="posts/1">
        <p class="mt-3 ml-4 text-sm underline">The Impact of Addiction</p>
        <p class="ml-4 text-xs italic">Small decisions have big consequences</p>
      </a>
    </li>
    <li>
      <a href="posts/1">
        <p class="mt-3 ml-4 text-sm underline">The Never Ending Battle</p>
        <p class="ml-4 text-xs italic">The real war starts when you quit</p>
      </a>
    </li>
  </ul>
</div>
