---
import H2 from "./H2.astro"
import PostDetail from "./PostDetail.astro"
---

<div class="flex w-fit flex-col p-4">
  <H2 text={"Recent Posts"} />
  <ul>
    <PostDetail
      href="/posts/1"
      title="Evidence of a Deeper Problem"
      sub="10 signs of drug addiction"
      date="03/24/2023"
    />
  </ul>
</div>
