---
interface Props {
  image: string
  color: string
  title: string
  sub: string
}

const { image, title, sub, color } = Astro.props as Props
---

<style>
  #image-container {
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
  }
</style>

<div
  id="image-container"
  style={`background-image:url(${image}); background-color:${color};`}
  class="flex flex-col"
>
  <div class="flex flex-1 flex-col pb-48 xs:py-20 sm:py-24 md:py-28 lg:py-48">
    <h1
      class="relative top-4 right-4 self-end text-lg font-bold text-white xs:top-0 xs:right-0 xs:flex xs:self-center xs:text-2xl"
    >
      {title}
    </h1>
    <p
      class="relative top-4 right-4 self-end italic text-white xs:top-0 xs:right-0 xs:flex xs:self-center xs:text-lg"
    >
      {sub}
    </p>
  </div>
</div>
