---
import Navigation from "../components/Navigation.astro"

interface Props {
  title: string
  banner: string
}

const { title, banner } = Astro.props as Props
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ef0709a418.js"
      crossorigin="anonymous"
    ></script>
    <title>{title}</title>
  </head>
  <body id="body" class="h-screen bg-white">
    <Navigation banner={banner} />
    <slot />
    <!-- footer spacer -->
    <div class="h-16"></div>
  </body>
</html>
